#hero{
  @extend %full-size;
  @include flex(column, flex-end, flex-end);
  height: 100vh;
  z-index: 10;
  position: relative;
  transition: none;

  &_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("images/hero.webp");
    background-position: center -2rem;
    background-size: 120vw;
    z-index: -1;

    @include responsive(portrait) {
      background-position: -50rem 0;
      background-size: cover;
    }
  }
  &_heading{
    width: 80%;
    @include flex(row);
    h1{
      @include fonts($m-font, calc(var(--heading-size)*1.5), $color: $txt-clr-light); // $txt-clr-light
      margin-bottom: 20vh;
      text-shadow: rgba(1,1,1,0.65) 1px 1px 4px ;
      span {
        display: inline;
      }

      // DIVIDE THE TITLE, ON PORTRAIT MODE FOR MORE SPACE TAKEN
      @include responsive(portrait) {

        display: flex;
        flex-direction: column;


        span {
          display: block;
        }
      }
      //
    }
  }
  &_sub-heading{
    width: 80%;
    @include flex(row, $justify: space-between);
    i{
    }
  }
}

