#hero{
  @extend %full-size;
  @include flex(column);
  height: 100vh;
  z-index: 10;
  position: relative;
  transition: none;

  &_background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("images/hero.webp");
    background-size: contain;
    z-index: -1;
  }
  &_heading{
    width: 80%;
    @include flex(row);
    h1{
      @include fonts($m-font, var(--heading-size), $color: $txt-clr-light); // $txt-clr-light

      span {
        display: inline;
      }

      // DIVIDE THE TITLE, ON PORTRAIT MODE FOR MORE SPACE TAKEN
      @include responsive(portrait) {

        display: flex;
        flex-direction: column;

        span {
          display: block;
        }
      }
      //
    }
  }
  &_sub-heading{
    width: 80%;
    @include flex(row, $justify: space-between);
    i{
    }
  }
}

