
// TEXT & FONT
//$m-font: "freightdispcmp-pro", serif;

// $m-font: "Karina";
$m-font: "ciclo-display", sans-serif;

// font-family: "warbler-banner", sans-serif;
// font-family: "warbler-display", sans-serif;
// font-family: "warbler-deck", sans-serif;
// font-family: "warbler-text", sans-serif;
// font-family: "reiher-headline", sans-serif;
// ont-family: "reiher-headline-open", sans-serif;

$font-size-desktop: 2vw;
$font-size-mobile: 6vw;

// COLORS
$bcg-clr: #f9f5ea; // #F6F6EF
$acc-clr: #5b4f48; //#AE9386
$txt-clr: $acc-clr; //#141414
$txt-clr-light: #F6F6EF;

// ANIMATIONS & TRANSITIONS
$transition: 600ms;

// Z-INDEX
$nav-z: 100;