

#nav-desktop{
  position: fixed;
  width: 100vw;
  //transform: translateX(-50%);
  //border-bottom: 1px solid red;
  @include flex(row);
  padding-top: 1rem;
  z-index: $nav-z;

  & > div{
    box-sizing: border-box;
    position: relative;
    @include flex(row, $justify: space-between);
    width: 90%;
    height: 4rem;
    border: $txt-clr 1px solid;
    background-color: $bcg-clr;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);


    span{
      @include flex(row, $gap: 1rem);
      height: 100%;
    }

    a{
      height: inherit;
      padding: 0 1rem;
      @include flex(row);
      text-decoration: none;
      cursor: pointer;
      @include fonts($m-font, 1rem);

      &:hover{
        opacity: .7;
      }
    }
  }
}

#nav-mobile{
  position: fixed;
  @include flex(column, $justify:  flex-start, $align: center);
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0) brightness(100%);
  padding: .5rem 0;
  box-sizing: border-box;

  &.active{
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(1px) brightness(100%);
    height: 100vh;
  }
  &_hamburger{
    z-index: 2;
    background: $bcg-clr;
    border: none;
    position: fixed;
    font-size: .5rem;

    $icon-size: 4em;
    $line-height: 0.4em;

    @include flex(row, $justify:  space-between, $align: flex-start);
    padding: 1rem;

    width: 95%;
    height: 10vh;

    & > span{
      width: $icon-size;
      height: $icon-size;
      cursor: pointer;
      @include flex(column, $justify:  space-around);
      & > span{
        width: 100%;
        height: $line-height;
        border-radius: $line-height;
        background-color: $txt-clr;
        transition: all 0.3s ease;
        &:nth-child(2){
          width: 80%;
        }
      }
    }

    &.active{
      & > span{
        & > span{
          &:nth-child(1) {
            transform: translateY(calc($icon-size * 0.28)) rotate(-45deg);
          }

          &:nth-child(2) {
            width: 0;
            opacity: 0;
          }

          &:nth-child(3) {
            transform: translateY(calc($icon-size * -0.28)) rotate(45deg);
          }
        }
      }
    }
  }

  // POP UP MENU
  &_menu{
    z-index: 1;
    position: relative;
    @include flex(column, $align: flex-start);
    background-color: $bcg-clr;
    width: 95%;
    height: 0;

    // SLLIDE IN
    &.active{
      height: 40vh;
      box-shadow: 0 1rem 10rem  $txt-clr;
    }
    ul{
      list-style: none;
      padding: 0 10%;
      left: 0;
      a{
        text-decoration: none;
        @include fonts($m-font, 2rem);
        opacity: 0;
        cursor: pointer;

        &.active{
          opacity: 1;
        }
      }
    }
  }
}

@include responsive(landscape) {
  #nav-desktop{
    visibility: visible;
  }

  #nav-mobile{
    display: none;
    visibility: hidden;
  }
}

@include responsive(portrait) {
  #nav-desktop{
    display: none;
    visibility: hidden;
  }

  #nav-mobile{
    visibility: visible;
  }
}