#gallery-photos{
  margin: 10vw;
  .column{
    @include flex(column, $align: flex-end, $gap: 3rem);
    .photo-container{
      width: 100%;
      height: fit-content;
      @include flex(column, $align: flex-end,  $gap: 1rem);
      &_photo{
        width: 100%;
        border: black 1px solid;
      }
      &_button{
        cursor: pointer;
        border: 1px solid black;
        padding: 0.4rem 0.3rem;
        background: none;
      }
    }
  }

  @include responsive(landscape){
    @include flex(row, space-between, flex-start, $wrap: wrap);
    .column{
      width: 22%;
    }
  }

  @include responsive(portrait){
    padding-top: 4rem;
    @include flex(column, flex-start, center, 1rem, wrap);
    .column{
      width: 80%;
      height: fit-content;
    }
  }
}


[data-photo="c1_01"]{
  height: 40vh;
}

[data-photo="c1_02"]{
  height: 36vh;
}

[data-photo="c2_01"]{
  height: 30vh;
}

[data-photo="c2_02"]{
  height: 40vh;
}

[data-photo="c3_01"]{
  height: 40vh;
}

[data-photo="c4_01"]{
  height: 40vh;
}
[data-photo="c4_02"]{
  height: 40vh;
}