#rsvp-content {
  width: 100%;
  @include flex(column);
  box-sizing: border-box;
  padding: 10vw;
  h1{
    font-size: var(--heading-size);
  }
  #submit{
    cursor: pointer;
  }
  #rsvp-form {
    @include flex(row, space-between, flex-start, 2rem);
    margin-top: 4rem;
    width: 100%;



    .text-input{
      width: 100%;
      @include flex(column, center, center, 2rem);

    }

    .rsvp-input{
      //@include flex(column, center, flex-start);
      position: relative;
      width: 100%;

      &.text{
        width: 80%;
        input {
          font-size: 20px;
          width: 100%;
          border: none;
          border-bottom: 2px solid #ccc;
          padding: 5px 0;
          background-color: transparent;
          outline: none;
          margin-top: 1rem;

          font-family: $m-font;
          color: $txt-clr;

          &.is-invalid{
            border-bottom: 2px solid rgba(238, 64, 64, 0.39);
            & ~ .underline{
              background-color: rgba(238, 64, 64, 0.69);
            }
          }
        }

        .label {
          top: 0;
          left: 0;
          transition: all 0.3s ease;
          pointer-events: none;
        }

        .underline {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: $acc-clr;
          transform: scaleX(0);
          transition: all 0.3s ease;
        }

        input:focus + .underline,
        input:valid + .underline {
          transform: scaleX(1);
        }
      }

      &.checkbox{
        @include flex(column, flex-start, flex-start,$gap: 1rem);
        width: 50%;
        h3{
          margin-bottom: .8rem;
          margin-top: 0;
        }
        .checkbox-container{
          @include flex(row-reverse, $justify: flex-end ,$gap: 1rem);
          .custom-checkbox{
            @include flex(row-reverse, $justify: flex-end ,$gap: 1rem);
            width: 1rem;
            aspect-ratio: 1/1;
            border: none;
            position: relative;
            input {
              width: 110%;
              height: 110%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              position: absolute;
              cursor: pointer;
              z-index: 10;
              opacity: 0;
              margin: 0;
            }
            .check{
              height: 1rem;
              aspect-ratio: 1/1;
              border: 2px solid #333;
              border-radius: 4px;
              position: relative;
              margin: 0;
            }
            .check:after{
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: .6rem;
              aspect-ratio: 1/1;
              background-color: #333;
              border: none;
              opacity: 0;
            }
            input:checked + .check:after{
              opacity: 1;
              animation: jump 200ms ease-in-out ;
            }

          }
        }


      }
    }
  }
}

@keyframes jump {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50%{
    transform: translate(-50%, -50%) scale(1.2);
  }
  100%{
    transform: translate(-50%, -50%) scale(1);
  }
}