/*font-family: "ciclo-display", sans-serif;
font-weight: 400;
font-style: normal;*/
body p, body h1, body {
  margin: 0;
}

#main #hero {
  width: 100%;
  height: 100%;
}

#rsvp, #gallery, #main {
  width: 100vw;
  height: 100vh;
}

:root {
  --heading-size: calc(var(--font-size) * 3);
  --subheading-size: calc(var(--font-size) * 2);
}
@media (orientation: portrait) {
  :root {
    --font-size: 4vw;
  }
}
@media (orientation: landscape) {
  :root {
    --font-size: 2vw;
  }
}

::selection {
  background-color: #5b4f48;
  color: #f9f5ea;
}

body {
  background: #f9f5ea !important;
  color: #5b4f48 !important;
  font-size: var(--font-size);
  overflow-x: hidden;
  box-sizing: border-box;
}
body h1 {
  font-family: "ciclo-display", sans-serif;
  font-size: var(--heading-size);
  font-weight: normal;
  line-height: normal;
  color: #5b4f48;
}
html {
  scroll-behavior: smooth;
}

#nav-desktop {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding-top: 1rem;
  z-index: 1000;
  top: 0;
  box-sizing: border-box;
}
#nav-desktop * {
  transition: 400ms;
}
#nav-desktop > div {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  width: 90%;
  height: 4rem;
  border: #5b4f48 1px solid;
  background-color: #f9f5ea;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
}
#nav-desktop > div span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  height: 100%;
}
#nav-desktop > div a {
  height: inherit;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  text-decoration: none;
  cursor: pointer;
  font-family: "ciclo-display", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  color: #5b4f48;
}
#nav-desktop > div a:hover {
  opacity: 0.7;
}

#nav-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0) brightness(100%);
  padding: 0.5rem 0;
  box-sizing: border-box;
}
#nav-mobile * {
  transition: 400ms;
}
#nav-mobile.active {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px) brightness(100%);
  height: 100vh;
  z-index: 120;
}
#nav-mobile.active #nav-mobile_hamburger {
  box-shadow: 0 0 0;
}
#nav-mobile_hamburger {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  z-index: 200;
  background: #f9f5ea;
  position: fixed;
  font-size: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 2rem;
  box-sizing: border-box;
  width: 95%;
  height: fit-content;
}
#nav-mobile_hamburger #menu-button {
  border: none;
  background: none;
  width: 4em;
  height: 4em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
#nav-mobile_hamburger #menu-button > span {
  width: 100%;
  height: 0.2em;
  border-radius: 0.2em;
  background-color: #5b4f48;
  transition: all 0.3s ease;
}
#nav-mobile_hamburger #menu-button > span:nth-child(2) {
  width: 80%;
}
#nav-mobile_hamburger #menu-button.active > span:nth-child(1) {
  transform: translateY(1.24em) rotate(-45deg);
}
#nav-mobile_hamburger #menu-button.active > span:nth-child(2) {
  width: 0;
  opacity: 0;
}
#nav-mobile_hamburger #menu-button.active > span:nth-child(3) {
  transform: translateY(-1.24em) rotate(45deg);
}
#nav-mobile_menu {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-wrap: nowrap;
  background-color: #f9f5ea;
  width: 95%;
  height: 0;
}
#nav-mobile_menu.active {
  height: 40vh;
  box-shadow: 0 1rem 10rem #5b4f48;
}
#nav-mobile_menu ul {
  list-style: none;
  padding: 0 10%;
  left: 0;
}
#nav-mobile_menu ul a {
  text-decoration: none;
  font-family: "ciclo-display", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
  color: #5b4f48;
  font-size: var(--subheading-size);
  opacity: 0;
  cursor: pointer;
}
#nav-mobile_menu ul a.active {
  opacity: 1;
}

@media (orientation: landscape) {
  #nav-desktop {
    visibility: visible;
  }
  #nav-mobile {
    display: none;
    visibility: hidden;
  }
}
@media (orientation: portrait) {
  #nav-desktop {
    display: none;
    visibility: hidden;
  }
  #nav-mobile {
    visibility: visible;
  }
}
#main #hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  height: 100vh;
  z-index: 10;
  position: relative;
  transition: none;
}
#main #hero_background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("images/hero.webp");
  background-size: contain;
  z-index: -1;
}
#main #hero_heading {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
#main #hero_heading h1 {
  font-family: "ciclo-display", sans-serif;
  font-size: var(--heading-size);
  font-weight: normal;
  line-height: normal;
  color: #F6F6EF;
}
#main #hero_heading h1 span {
  display: inline;
}
@media (orientation: portrait) {
  #main #hero_heading h1 {
    display: flex;
    flex-direction: column;
  }
  #main #hero_heading h1 span {
    display: block;
  }
}
#main #hero_sub-heading {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
#main #about {
  height: fit-content;
  width: 100vw;
  background: #f9f5ea;
  font-family: "ciclo-display", sans-serif;
  font-size: var(--font-size);
  font-weight: normal;
  line-height: normal;
  color: #5b4f48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  z-index: 15;
  position: relative;
  padding-top: 10rem;
}
#main #about h2 {
  margin: 1rem;
  font-weight: normal;
}
#main #about * {
  transition: 400ms;
}
#main #about #people {
  height: 100vh;
}
#main #about #people .information {
  height: 90%;
}
#main #about #people .information_box {
  border: none;
  height: 100%;
}
#main #about #people .information_box:hover {
  border: none;
}
#main #about #people .information_photo {
  border: 1px solid black;
  width: 70%;
  height: 70%;
}
#main #about #countdown {
  color: #5b4f48;
  padding: 1rem 3rem;
  aspect-ratio: 2.9/1;
  margin-top: 1rem;
  z-index: 104;
  background: url("svgs/frame_1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#main #about #countdown > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}
#main #about #countdown > span .countdown-text {
  font-size: var(--font-size);
  color: color-mix(in srgb, #5b4f48, 30% transparent);
}
#main #about #countdown > span:nth-child(even) {
  color: color-mix(in srgb, #5b4f48, 30% transparent);
}
#main #about #ceremony {
  margin-top: 10rem;
}
#main #about .main-information {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  padding: 2rem;
  box-sizing: border-box;
  z-index: 102;
}
#main #about .main-information h2 {
  margin-bottom: 2rem;
}
#main #about .main-information .information {
  height: 100%;
  width: 80%;
  cursor: pointer;
  text-align: center;
}
#main #about .main-information .information_box {
  border: 1px solid black;
  text-decoration: none;
  transition: 400ms;
}
#main #about .main-information .information_box:hover {
  transform: scale(1.01);
}
@media (orientation: landscape) {
  #main #about h2 {
    font-size: var(--heading-size);
  }
  #main #about #countdown {
    font-size: var(--heading-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: nowrap;
  }
  #main #about .main-information {
    margin-top: 2rem;
  }
  #main #about .main-information .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    flex-wrap: nowrap;
  }
  #main #about .main-information .information_box {
    width: 45%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: nowrap;
  }
  #main #about .main-information .information_icon {
    width: 20%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-wrap: nowrap;
    border: 1px solid color-mix(in srgb, #5b4f48, 30% transparent);
  }
  #main #about .main-information .information_heading {
    font-family: "ciclo-display", sans-serif;
    font-size: var(--font-size);
    font-weight: normal;
    line-height: normal;
    color: #5b4f48;
  }
}
@media (orientation: portrait) {
  #main #about h2 {
    font-size: var(--subheading-size);
  }
  #main #about #countdown {
    font-size: var(--heading-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    width: 60%;
  }
  #main #about .main-information {
    margin-top: 4rem;
  }
  #main #about .main-information .information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    flex-wrap: nowrap;
  }
  #main #about .main-information .information_box {
    width: 70vw;
    height: 40vw;
  }
}

#gallery #gallery-photos {
  margin: 10vw;
}
#gallery #gallery-photos .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 3rem;
  flex-wrap: nowrap;
}
#gallery #gallery-photos .column .photo-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  flex-wrap: nowrap;
}
#gallery #gallery-photos .column .photo-container_photo {
  width: 100%;
  border: black 1px solid;
}
#gallery #gallery-photos .column .photo-container_button {
  cursor: pointer;
  border: 1px solid black;
  padding: 0.4rem 0.3rem;
  background: none;
}
@media (orientation: landscape) {
  #gallery #gallery-photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    flex-wrap: wrap;
  }
  #gallery #gallery-photos .column {
    width: 22%;
  }
}
@media (orientation: portrait) {
  #gallery #gallery-photos {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  #gallery #gallery-photos .column {
    width: 80%;
    height: fit-content;
  }
}
#gallery [data-photo=c1_01] {
  height: 40vh;
}
#gallery [data-photo=c1_02] {
  height: 36vh;
}
#gallery [data-photo=c2_01] {
  height: 30vh;
}
#gallery [data-photo=c2_02] {
  height: 40vh;
}
#gallery [data-photo=c3_01] {
  height: 40vh;
}
#gallery [data-photo=c4_01] {
  height: 40vh;
}
#gallery [data-photo=c4_02] {
  height: 40vh;
}

#rsvp #rsvp-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
  box-sizing: border-box;
  padding: 10vw;
}
#rsvp #rsvp-content h1 {
  font-size: var(--heading-size);
}
#rsvp #rsvp-content #submit {
  cursor: pointer;
}
#rsvp #rsvp-content #rsvp-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: nowrap;
  margin-top: 4rem;
  width: 100%;
}
#rsvp #rsvp-content #rsvp-form .text-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: nowrap;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input {
  position: relative;
  width: 100%;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.text {
  width: 80%;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.text input {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  margin-top: 1rem;
  font-family: "ciclo-display", sans-serif;
  color: #5b4f48;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.text input.is-invalid {
  border-bottom: 2px solid rgba(238, 64, 64, 0.39);
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.text input.is-invalid ~ .underline {
  background-color: rgba(238, 64, 64, 0.69);
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.text .label {
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.text .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #5b4f48;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.text input:focus + .underline,
#rsvp #rsvp-content #rsvp-form .rsvp-input.text input:valid + .underline {
  transform: scaleX(1);
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.checkbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 50%;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.checkbox h3 {
  margin-bottom: 0.8rem;
  margin-top: 0;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.checkbox .checkbox-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.checkbox .checkbox-container .custom-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  width: 1rem;
  aspect-ratio: 1/1;
  border: none;
  position: relative;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.checkbox .checkbox-container .custom-checkbox input {
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  margin: 0;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.checkbox .checkbox-container .custom-checkbox .check {
  height: 1rem;
  aspect-ratio: 1/1;
  border: 2px solid #333;
  border-radius: 4px;
  position: relative;
  margin: 0;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.checkbox .checkbox-container .custom-checkbox .check:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.6rem;
  aspect-ratio: 1/1;
  background-color: #333;
  border: none;
  opacity: 0;
}
#rsvp #rsvp-content #rsvp-form .rsvp-input.checkbox .checkbox-container .custom-checkbox input:checked + .check:after {
  opacity: 1;
  animation: jump 200ms ease-in-out;
}
@keyframes jump {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
